
R Notebook/Pr8-S1-SL5-Sec3R-CKO_1.tif
R Notebook/Pr8-S1-SL5-Sec3L-CKO_1.tif
R Notebook/Pr8-S1-SL5-Sec2R-WT_1.tif
R Notebook/Pr8-S1-SL5-Sec2L-WT_2.tif
R Notebook/Pr8-S1-SL5-Sec2L-CKO_1.tif
R Notebook/Pr8-S1-SL5-Sec1R-WT_1.tif
R Notebook/Pr8-S1-SL5-Sec1L-WT_1.tif
R Notebook/Pr8-S1-SL1-Sec4R-CKO_1.tif
R Notebook/Pr8-S1-SL1-Sec4L-CKO_2.tif
R Notebook/Pr8-S1-SL1-Sec3R-WT_3.tif
R Notebook/Pr8-S1-SL1-Sec3L-WT_1.tif
R Notebook/Pr8-S1-SL1-Sec3L-CKO_1.tif
R Notebook/Pr8-S1-SL1-Sec2R-WT_1.tif
R Notebook/Pr8-S1-SL1-Sec2L-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec4R-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec3R-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec3R-CKO_1.tif
R Notebook/Pr6-S1-SL5-Sec2R-CKO_1.tif
R Notebook/Pr6-S1-SL5-Sec2L-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec2L-CKO_1.tif
R Notebook/Pr6-S1-SL1-Sec4R-WT_1.tif
R Notebook/Pr6-S1-SL1-Sec3R-WT_1.tif
R Notebook/Pr6-S1-SL1-Sec3R-CKO_1.tif
R Notebook/Pr6-S1-SL1-Sec3L-CKO_1.tif
R Notebook/Pr5-S1-SL5-Sec5R-WT_1.tif
R Notebook/Pr5-S1-SL5-Sec5L-WT_1.tif
R Notebook/Pr5-S1-SL5-Sec4R-CKO_1.tif
R Notebook/Pr5-S1-SL5-Sec4L-WT_1.tif
R Notebook/Pr5-S1-SL1-Sec7L-CKO_1.tif
R Notebook/Pr5-S1-SL1-Sec6R-WT_1.tif
R Notebook/Pr5-S1-SL1-Sec6L-WT_1.tif
R Notebook/Pr5-S1-SL1-Sec6L-CKO_1.tif
R Notebook/Pr5-S1-SL1-Sec5L-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec3L-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec2R-WT_2.tif
R Notebook/Pr4-S1-SL5-Sec2R-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec2R-CKO_1.tif
R Notebook/Pr4-S1-SL5-Sec2L-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec2L-CKO_1.tif
R Notebook/Pr4-S1-SL1-Sec3R-WT_2.tif
R Notebook/Pr4-S1-SL1-Sec3R-CKO_1.tif
R Notebook/Pr4-S1-SL1-Sec3L-CKO_2.tif
R Notebook/Pr3-S1-SL6-Sec5R-WT_1.tif
R Notebook/Pr3-S1-SL6-Sec5R-CKO_1.tif
R Notebook/Pr3-S1-SL6-Sec5L-WT_1.tif
R Notebook/Pr3-S1-SL6-Sec5L-CKO_1.tif
R Notebook/Pr3-S1-SL1-Sec5R-WT_1.tif
R Notebook/Pr3-S1-SL1-Sec5R-CKO_1.tif
R Notebook/Pr3-S1-SL1-Sec5L-WT_2.tif
R Notebook/Pr3-S1-SL1-Sec5L-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec6L-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec5R-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec5L-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec4R-WT_3.tif
R Notebook/Pr2-S1-SL6-Sec4R-WT_2.tif
R Notebook/Pr2-S1-SL6-Sec4R-WT_1.tif
R Notebook/Pr2-S1-SL1-Sec5L-CKO_3.tif
R Notebook/Pr2-S1-SL1-Sec4R-WT_3.tif
