
R Notebook/Pr8-S1-SL5-Sec3R-CKO_1.tif
R Notebook/Pr8-S1-SL5-Sec3L-CKO_1.tif
R Notebook/Pr8-S1-SL5-Sec2R-WT_1.tif
R Notebook/Pr8-S1-SL5-Sec2L-WT_2.tif
R Notebook/Pr8-S1-SL5-Sec2L-CKO_1.tif
R Notebook/Pr8-S1-SL5-Sec1R-WT_1.tif
R Notebook/Pr8-S1-SL5-Sec1L-WT_1.tif
R Notebook/Pr8-S1-SL1-Sec4R-CKO_1.tif
R Notebook/Pr8-S1-SL1-Sec4L-CKO_2.tif
R Notebook/Pr8-S1-SL1-Sec3R-WT_3.tif
R Notebook/Pr8-S1-SL1-Sec3L-WT_1.tif
R Notebook/Pr8-S1-SL1-Sec3L-CKO_1.tif
R Notebook/Pr8-S1-SL1-Sec2R-WT_1.tif
R Notebook/Pr8-S1-SL1-Sec2L-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec4R-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec3R-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec3R-CKO_1.tif
R Notebook/Pr6-S1-SL5-Sec2R-CKO_1.tif
R Notebook/Pr6-S1-SL5-Sec2L-WT_1.tif
R Notebook/Pr6-S1-SL5-Sec2L-CKO_1.tif
R Notebook/Pr6-S1-SL1-Sec4R-WT_1.tif
R Notebook/Pr6-S1-SL1-Sec3R-WT_1.tif
R Notebook/Pr6-S1-SL1-Sec3R-CKO_1.tif
R Notebook/Pr6-S1-SL1-Sec3L-CKO_1.tif
R Notebook/Pr5-S1-SL5-Sec5R-WT_1.tif
R Notebook/Pr5-S1-SL5-Sec5L-WT_1.tif
R Notebook/Pr5-S1-SL5-Sec4R-CKO_1.tif
R Notebook/Pr5-S1-SL5-Sec4L-WT_1.tif
R Notebook/Pr5-S1-SL1-Sec7L-CKO_1.tif
R Notebook/Pr5-S1-SL1-Sec6R-WT_1.tif
R Notebook/Pr5-S1-SL1-Sec6L-WT_1.tif
R Notebook/Pr5-S1-SL1-Sec6L-CKO_1.tif
R Notebook/Pr5-S1-SL1-Sec5L-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec3L-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec2R-WT_2.tif
R Notebook/Pr4-S1-SL5-Sec2R-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec2R-CKO_1.tif
R Notebook/Pr4-S1-SL5-Sec2L-WT_1.tif
R Notebook/Pr4-S1-SL5-Sec2L-CKO_1.tif
R Notebook/Pr4-S1-SL1-Sec3R-WT_2.tif
R Notebook/Pr4-S1-SL1-Sec3R-CKO_1.tif
R Notebook/Pr4-S1-SL1-Sec3L-CKO_2.tif
R Notebook/Pr3-S1-SL6-Sec5R-WT_1.tif
R Notebook/Pr3-S1-SL6-Sec5R-CKO_1.tif
R Notebook/Pr3-S1-SL6-Sec5L-WT_1.tif
R Notebook/Pr3-S1-SL6-Sec5L-CKO_1.tif
R Notebook/Pr3-S1-SL1-Sec5R-WT_1.tif
R Notebook/Pr3-S1-SL1-Sec5R-CKO_1.tif
R Notebook/Pr3-S1-SL1-Sec5L-WT_2.tif
R Notebook/Pr3-S1-SL1-Sec5L-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec6L-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec5R-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec5L-CKO_1.tif
R Notebook/Pr2-S1-SL6-Sec4R-WT_3.tif
R Notebook/Pr2-S1-SL6-Sec4R-WT_2.tif
R Notebook/Pr2-S1-SL6-Sec4R-WT_1.tif
R Notebook/Pr2-S1-SL1-Sec5L-CKO_3.tif
R Notebook/Pr2-S1-SL1-Sec4R-WT_3.tif
ImageJ/TestLabCOlocalization/coloc_thresh_binned_Pr4-S1-SL5-Sec2R-WT_2_MMStack_Pos0.ome.tif
ImageJ/TestLabCOlocalization/coloc_thresh_binned_Pr4-S1-SL5-Sec2R-WT_2nof_MMStack_Pos0.ome.tif
ImageJ/TestLabCOlocalization/coloc_thresh_binned_Pr4-S1-SL5-Sec3L-WT_1_MMStack_Pos0.ome.tif
ImageJ/TestLabMeeting/binned_Pr4-S1-SL5-Sec2R-WT_2_MMStack_Pos0.ome.tif
ImageJ/TestLabMeeting/binned_Pr4-S1-SL5-Sec2R-WT_2nof_MMStack_Pos0.ome.tif
ImageJ/TestLabMeeting/binned_Pr4-S1-SL5-Sec3L-WT_1_MMStack_Pos0.ome.tif
ImageJ/TestLabThreshold/thresh_binned_Pr4-S1-SL5-Sec2R-WT_2_MMStack_Pos0.ome.tif
ImageJ/TestLabThreshold/thresh_binned_Pr4-S1-SL5-Sec2R-WT_2nof_MMStack_Pos0.ome.tif
ImageJ/TestLabThreshold/thresh_binned_Pr4-S1-SL5-Sec3L-WT_1_MMStack_Pos0.ome.tif
R Notebook/labyay.png
R Notebook/labyay2.png
R Notebook/maybetrans.pdf
R Notebook/maybetrans.svg
R Notebook/testing.pdf
R Notebook/testing.png
R Notebook/testing.svg
R Notebook/trans3.svg
R Notebook/trans4.svg
R Notebook/trans4-2.svg
R Notebook/trans5.pdf
R Notebook/trans5.png
R Notebook/transp.png
R Notebook/trans5.svg
R Notebook/transp.svg
R Notebook/transp2.png
R Notebook/transp2.svg
